<div class="card-trip">
  <img src="<%= photographer.pictures[0] %>" />
    <div class="card-trip-infos">
      <div>
        <h4><%= photographer.name %></h4>
        <p><%= photographer.location %></p>
      </div>
  <h4 class="card-trip-pricing">$<%= photographer.price_rate %></h4>
  <img src="<%= photographer.avatar %>" class="card-trip-user avatar" />
    </div>
</div>
