<div class="container">
  <%= form_tag photographers_path, method: :get do %>
    <%= text_field_tag :style,
      params[:style],
      class: "form-control",
      placeholder: "Find a style"
    %>
    <br>
    <%= text_field_tag :location,
      params[:location],
      class: "form-control",
      placeholder: "Find a city"
    %>
    <br>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="cards">
          <% @photographers.each do |photographer| %>
          <%= render 'photographers/card', photographer: photographer %>
        <% end %>
      </div>
    </div>
  </div>
</div>
