<div class="show-banner" style="background-image: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.3)),
  url(<%= @photographer.pictures[0] %>);">
</div>

<div class="container photographer-show">
  <%= render 'show-profile' %>
  <%= render 'show-booking' %>

  <div id="photo-card-container">
    <h3> Photos(<%= @photographer.pictures.count %>)</h3>
      <div class="photo-cards">
        <% @photographer.pictures.each do |picture|%>
          <%= render 'photo-card', picture: picture %>
        <% end %>
      </div>
  </div>


    <%= render 'map-show' %>
</div>
