<%= link_to "< Go back to photographers", root_path %>


  <div>
    <%= render 'photographer-intro-card' %>
  </div>

  <div class="photo-cards">
    <h2> Photos(<%= @photographer.pictures.count %>)
    <% @photographer.pictures.each do |picture|%>
    <%= render 'photo-card', picture: picture %>
    <% end %>
  </div>

  <div class="container-btn">
    <%= link_to "Book this Fauxtographer", new_photographer_booking_path(@photographer), class: 'btn btn-primary' %>
  </div>


