<div class="banner photographer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(<%= @photographer.pictures[0] %>);">
  <div class="container">
    <h1><%= @photographer.name %></h1>
    <p><%= link_to "Go back to photographers", root_path, class: 'btn btn-primary' %>  <%= link_to "Book this Fauxtographer", new_photographer_booking_path(@photographer), class: 'btn btn-primary' %>
     </p>
  </div>
</div>

<div class="container">
  <div class="photographer-details">
    <p><%= @photographer.location %></p>
    <p><%= @photographer.email %></p>
    <p>$<%= @photographer.price_rate %> per 15 edited photos</p>
  </div>

  <div class="photo-cards">
    <h2> Photos(<%= @photographer.pictures.count %>)
    <% @photographer.pictures.each do |picture|%>
    <%= render 'photo-card', picture: picture %>
    <% end %>
  </div>

  <div>
    <%= render 'booking-form' %>
  </div>
</div>









